{
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:testing-library/recommended",
    "plugin:testing-library/react",
    "plugin:react/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "react",
    "jsx-a11y",
    "prettier",
    "@typescript-eslint",
    "testing-library"
  ],
  "rules": {},
  "overrides": [
    {
      "settings": {
        "react": {
          "version": "detect"
        },
        "import/resolver": {
          "typescript": {}
        }
      },
      
      "files": [
        "**/*.ts?(x)"
      ],
      "rules": {
        "react/prop-types": "off",
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "prettier/prettier": [
          "error",
          {
            "singleQuote": true
          }
        ],
        "quotes": [
          2,
          "single"
        ]
      }
    }
  ]
}