.marketButton {
  background: transparent;
  color: var(--white);
  font-size: 1em;
  border: 0;
  flex: 1;
  cursor: pointer;
  padding: 0;
  transition: background .05s linear;
}

.marketButton:hover {
  background: var(--foreground);
  color: var(--yellow);
}

.marketButton.active {
  background: var(--orange);
}

.marketButton:hover.active {
  color: var(--white);
}

.marketButton.horizontalList {
  padding: .35em .5em;
  text-align: left;
  font-size: .9em;
}