.container {
  flex: 1;
}

.container:hover .title {
  background: var(--foreground);
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index:2;
  background: var(--foreground);
}

.hidden {
  display: none;
}

.title {
  padding: .5em 1em;
  border: 0;
  cursor: default;
  min-height: 1.1em;
  text-align: center;
  transition: background .05s linear;
}

.titleActive {
  background: var(--orange);
}
