.container {
  display: flex;
  padding: 0.5rem 0;
  justify-content: space-between;
  flex: 1;
  text-align: left;
}

.symbolGroup {
  display: flex;
  flex: 1;
}

.price {
  flex: 1;
}

.extraGroup {
  flex: .5;
}

.extraGroup.green {
  color: var(--green);
}

.extraGroup.orange {
  color: var(--orange);
}

.extraGroup.white {
  color: var(--white);
}