:root {
  /* Monokai palette */
  --background: rgb(46, 46, 46);
  --foreground: rgb(121, 121, 121);
  --gray: rgb(52, 52, 52);
  --white: rgb(214, 214, 214);
  --yellow: rgb(229, 181, 103);
  --green: rgb(180, 210, 115);
  --orange: rgb(232, 125, 62);
  --purple: rgb(158, 134, 200);
  --pink: rgb(176, 82, 121);
  --blue: rgb(108, 153, 187);
}

.App {
  color: var(--white);
  background-color: var(--background);
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
